* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	background-color: #e3e3e3;
}

.center {
	text-align: center;
}

.centered {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.no-style li {
	list-style: none;
}

.focused {
	font-size: 3rem;
	font-weight: bold;
	color: white;
}

.btn {
	text-decoration: none;
	background-color: #00538e;
	color: white;
	border-radius: 4px;
	padding: 0.5rem 1.5rem;
	border: 1px solid #00538e;
	cursor: pointer;
}

.btn-block {
	text-decoration: none;
	background-color: #00538e;
	width: 40%;
	height: 5rem;
	margin: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: white;
	border-radius: 4px;
	border: 1px solid #00538e;
	cursor: pointer;
}

.btn-disabled {
	text-decoration: none;
	background-color: gray;
	color: white;
	border-radius: 4px;
	padding: 0.5rem 1.5rem;
	border: 1px solid gray;
	cursor: not-allowed;
}

.cancel {
	background-color: brown;
	border: 1px solid brown;
	border-color: brown;
}

.btn-block:hover,
.btn-block:active {
	background-color: #2574ac;
	border-color: #00538e;
}
.btn:hover,
.btn:active {
	background-color: #2574ac;
	border-color: #00538e;
}

.cancel:hover,
.cancel:active {
	background-color: rgb(175, 76, 76);
	border: 1px solid brown;
	border-color: brown;
}

.btn-disabled:hover,
.btn-disabled:active {
	background-color: gray !important;
	border-color: gray !important;
}

.btn--flat {
	cursor: pointer;
	font: inherit;
	color: #00538e;
	border: none;
	background-color: none;
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
	background-color: #00538e;
	color: white;
}

.error-text {
	color: #b40e0e;
}
